<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tweet sentiment</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div class="container">
		<img src="/static/logo.png" alt="" class="twitter-logo">

		<div class="form-group cf">
			
			<div class="input-field">
				<label class="cf">hashtag</label>
				<div class="hashtag-symbol">#</div>
				<div class="input hashtag" contenteditable="true">MUFC</div>
			</div>

			<div class="input-field">
				<label class="cf">limit</label>
				<div class="input" id="limit" contenteditable="true">15000</div>
			</div>

			<div class="input-field input-btn">
				<button type="button">
					Go!
					<span class="loader hide"></span>
				</button>
			</div>

		</div>

		<div class="cf"></div>

		<div class="results cf">
			<div class="result">
				<div class="label">analyzed</div>
				<h1 id="analyzed">0</h1>
			</div>

			<div class="result">
				<div class="label">average mood</div>
				<h1 class="neu" id="mood">-</h1>
			</div>

		</div>
			
		<div class="chart">
			<canvas id="radar-chart" width="960" height="480"></canvas>
		</div>
	</div>
	
	<script src="/static/bower_components/Chart.js/Chart.js"></script>
	<script src="/static/app.js"></script>
</body>
</html>